body #section-byline {
  display: none;
}
body #plone-contentmenu-actions,
body #plone-contentmenu-workflow {
  display: none;
}
body.userrole-manager #plone-contentmenu-actions,
body.userrole-manager #plone-contentmenu-workflow {
  display: block;
}
body.userrole-reviewer #plone-contentmenu-workflow {
  display: block;
}

#content > header {
  margin-bottom: 0px;
}

:root {
  --fc-list-event-hover-bg-color: none;
  --fc-page-bg-color: var(--bs-gray-300);
  --fc-button-bg-color: var(--bs-gray-600);
  --fc-button-border-color: var(--bs-gray-600);
}

.fc .fc-scroller-liquid {
  height: auto; /* display all list on smartphone */
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 5px;
}
.fc .fc-toolbar.fc-header-toolbar div {
  vertical-align: bottom;
}
.fc .fc-toolbar.fc-header-toolbar .fc-button {
  padding: 3px;
}
.fc-toolbar-title {
  display: inline-block;
}
.fc-event.task-pool {
  background-color: #9ec5fe;
}
.fc-event.task-bar {
  background-color: #ffe69c;
}
.fc-event.task-inflation {
  background-color: #a3cfbb;
}
.fc-list-day-text,
.fc-today-button,
.fc-toolbar-title {
  text-transform: capitalize !important;
  text-decoration: none;
}

/* Cacher le titre "Ajouter d'un élément" au dessus des items à ajouter*/
#plone-contentmenu-factories h6.dropdown-header {
  display:none; !important
}
/* Personnalisation de la summary_view*/
body.template-full_view #content-core img,
body.template-summary_view #content-core  img {
  max-height: 125px;
  object-fit: cover;
}
#content-core h1 a,
#content-core h2 a {
  text-decoration: none;
}
#content-core h1 {
  border-bottom: 1px solid var(--bs-secondary);
}