/*** NEW COLORS ***/
$seba: #696969;

/***  BOOTSTRAP VARIABLE OVERRIDES ***/
$enable-rounded: false;
// $primary: #3d8bfd;
// $secondary: #6c757d; // $gray-600
$black: #343a40; // $gray-800
$body-bg: #f8f9fa; // $gray-100
// $breadcrumb-bg: red;
// $body-color: orange;
// $font-size-base: 1rem;
// $h1-font-size: $font-size-base * 3;
// $h2-font-size: $font-size-base * 2.5;
$card-bg: #e9ecef; //tint-color($primary, 80%);

/***  PLONE VARIABLE OVERRIDES ***/
